[build-system]
requires = [
    "poetry>=0.12"
]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "dnsrobocert"
version = "3.5.1"
description = "A tool to manage your DNS-challenged TLS certificates"
license = "MIT"
keywords = [
    "dnsrobocert"
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: MIT License",
    "Operating System :: Unix", "Operating System :: POSIX",
    "Operating System :: Microsoft :: Windows",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Utilities"
]
authors = [
    "Adrien Ferrand"
]
readme = "README.rst"
include = [
    "src/dnsrobocert/schema.yml"
]
repository = "https://github.com/adferrand/dnsrobocert"
homepage = "https://dnsrobocert.readthedocs.io"

[tool.poetry.dependencies]
python = "^3.6"
acme = "==1.6.0"
certbot = "==1.6.0"
dns-lexicon = { version = "==3.3.27", extras = [ "full" ] }
cryptography = "2.8"  # Pinned to a version available in Alpine.
cffi = "1.13.2"  # Pinned to a version available in Alpine.
lxml = "4.4.2"  # Pined to a version available in Alpine.
dnspython3 = "^1.15.0"
jsonschema = "^3.2.0"
pem = "^20.1.0"
pyopenssl = "^19.1.0"
pyyaml = "^5.3.1"
schedule = "^0.6.0"
coloredlogs = "^14.0"
colorama = "^0.4.3"

[tool.poetry.dev-dependencies]
black = "^19.10b0"
flake8 = "^3.8.3"
mypy = "^0.782"
pytest = "^5.4.3"
pytest-cov = "^2.10.0"
isort = "^5.1.4"
requests = "^2.24.0"
pygments = "^2.6.1"
twine = "^3.2.0"
tox = "^3.17.1"

[tool.poetry.scripts]
dnsrobocert = "dnsrobocert.core.main:main"
