[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "dnsrobocert"
version = "3.9.1"
description = "A tool to manage your DNS-challenged TLS certificates"
license = "MIT"
keywords = [
    "dnsrobocert"
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: MIT License",
    "Operating System :: Unix", "Operating System :: POSIX",
    "Operating System :: Microsoft :: Windows",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Utilities"
]
authors = [
    "Adrien Ferrand"
]
readme = "README.rst"
include = [
    "src/dnsrobocert/schema.yml"
]
repository = "https://github.com/adferrand/dnsrobocert"
homepage = "https://dnsrobocert.readthedocs.io"

[tool.poetry.dependencies]
python = "^3.6"
acme = "^1"
certbot = "^1"
dns-lexicon = { version = "^3", extras = [ "full" ] }
# Optional deps on dns-lexicon
zeep = "*"
xmltodict = "*"
transip = "*"
softlayer = "*"
pynamecheap = "*"
localzone = "*"
boto3 = "*"
# --
cryptography = ">=2,<4"
cffi = "^1"
lxml = "^4"
dnspython = "^2"
jsonschema = "^3"
pem = ">=20,<22"
pyopenssl = ">=19,<21"
pyyaml = "^5"
schedule = "^0"
coloredlogs = ">=14,<16"
colorama = "^0"
tldextract = "^3"

[tool.poetry.dev-dependencies]
black = { version = "*", allow-prereleases = true }
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
isort = "*"
requests = "*"
pygments = "*"
twine = "*"
tox = "*"
types-PyYAML = "^5.4.3"
types-pyOpenSSL = "^20.0.4"
types-requests = "^2.25.0"
types-setuptools = "^57.0.0"

[tool.poetry.scripts]
dnsrobocert = "dnsrobocert.core.main:main"
